<!DOCTYPE html>
<html>
<head>
<title>online calculator</title>
</head>

<body>
	<h3>Addition</h3>
   <form method="post" action="/result">
       <label for="n1">1st Number: </label>
       <input type="text" id="n1" name="n1" value="" autofocus="autofocus" />
       <label for="n2">2nd Number: </label>
       <input type="text" id="n2" name="n2" value="" autofocus="autofocus" />
       <input type="submit" name="action" value="add" />
   </form>
<h3>Subtraction</h3>
   <form method="post" action="/result">
       <label for="n1">1st Number: </label>
       <input type="text" id="n1" name="n1" value="" autofocus="autofocus" />
       <label for="n2">2nd Number: </label>
       <input type="text" id="n2" name="n2" value="" autofocus="autofocus" />
       <input type="submit" name="action" value="subtract" />
   </form>
<h3>Division</h3>
   <form method="post" action="/result">
       <label for="n1">1st Number: </label>
       <input type="text" id="n1" name="n1" value="" autofocus="autofocus" />
       <label for="n2">2nd Number: </label>
       <input type="text" id="n2" name="n2" value="" autofocus="autofocus" />
       <input type="submit" name="action" value="divide" />
   </form>
<h3>Multiplication</h3>
   <form method="post" action="/result">
       <label for="n1">1st Number: </label>
       <input type="text" id="n1" name="n1" value="" autofocus="autofocus" />
       <label for="n2">2nd Number: </label>
       <input type="text" id="n2" name="n2" value="" autofocus="autofocus" />
       <input type="submit" name="action" value="multiply" />
   </form>

<p>Click <a href="/count">here</a> to count up to 200</p>

</body>
</html>